///////////////////////////////////////////////////////////////////////////////
version="$Id$";
category = "General purpose";
info="
LIBRARY:  all.lib   Load all libraries (commutative case)

use: help Singular libraries; for a list of the libraries
";

///////////////////////////////////////////////////////////////////////////////

