# Singular help browser file
# each line which start with an # is a comment
# each other line defines a (possible) help browser
# the format of the entries is: <name>!<requirements>!<shell command>
#----------------------------------------------------
# known requirements:
#  x- requires singular.idx
#  i- requires singular.info
#  h- requires html dir
#  D- requires the environment variable DISPLAY
#  E:executable:- requires the named executable
#  O:`uname -m`-`uname -s`:- requires the named uname
#  (ubuntu has an open completely different from open on OsX)
#----------------------------------------------------
# shell commands substitute the following:
#  %h: the local html file (in the form file://localhost/some/dir/sing_123.htm)
#  %f: the local html file (in the form /some/dir/sing_123.htm)
#  %H: the www html  file
#             (in the form https://www.singular.uni-kl.de/some/dir/sing_123.htm)
#  %i: the complete path of singular.info
#  %n: the info node
#  %v: Singular version (in the form 4-0-0)
#----------------------------------------------------
# the default help browsers builtin, dummy and emacs are always
#   available and should NOT be mentioned here
#----------------------------------------------------
htmlview!xDhE:htmlview:!htmlview %h &
mac!xhE:open:O:x86_64-Darwin:!open %f &
mac-net!xE:open:O:x86_64-Darwin:!open %H &
mozilla!xDhE:mozilla:!(mozilla -remote "openURL(%h)")||(mozilla %h) &
firefox!xDhE:firefox:!firefox %h &
konqueror!xDhE:konqueror:!konqueror %h &
galeon!xDhE:galeon:!galeon -n %h &
netscape!xDhE:netscape:!(netscape -remote "openURL(%h)")||(netscape %h) &
cygwin!xhE:cygstart:!cygstart "%f" &
cygwin-www!E:cygstart:!cygstart "%H" &
safari!xhE:/Applications/Safari.app:!open -a /Applications/Safari.app %h
tkinfo!xDiE:tkinfo:!tkinfo '(%i)%n' &
xinfo!xDiE:xterm:E:info:!xterm -e info -f %i --node='%n' &
info!xiE:info:!info -f %i --node='%n'
lynx!xhE:lynx:!lynx %h
#----------------------------------------------------------------
# dummy versions for pure online help
mac-www!E:open:O:x86_64-Darwin:!open https://www.singular.uni-kl.de/Manual/%v/ &
mozilla-www!DE:mozilla:!(mozilla -remote "openURL(https://www.singular.uni-kl.de/Manual/%v/)")||(mozilla https://www.singular.uni-kl.de/Manual/%v/) &
firefox-www-idx!xDE:firefox:!firefox %H &
firefox-www!DE:firefox:!firefox https://www.singular.uni-kl.de/Manual/%v/ &
konqueror-www-idx!xDE:konqueror:!konqueror %H &
konqueror-www!DE:konqueror:!konqueror https://www.singular.uni-kl.de/Manual/%v/ &
galeon-www-idx!xDE:galeon:!galeon -n %H &
galeon-www!DE:galeon:!galeon -n https://www.singular.uni-kl.de/Manual/%v/ &
netscape-www!DE:netscape:!(netscape -remote "openURL(https://www.singular.uni-kl.de/Manual/%v/)")||(netscape https://www.singular.uni-kl.de/Manual/%v/) &
safari-www-idx!xE:/Applications/Safari.app:!open -a /Applications/Safari.app %H
safari-www!E:/Applications/Safari.app:!open -a /Applications/Safari.app https://www.singular.uni-kl.de/Manual/%v/
lynx-www-idx!xE:lynx:!lynx %H
lynx-www!E:lynx:!lynx https://www.singular.uni-kl.de/Manual/%v/

