_config.h
_config.h.in
.deps
.dirstamp
.DS_Store
.libs
*.[oa]
*.d
*.dd
*.exe
*.gcda
*.gcno
*.la
*.lo
*.o_ndebug
*.og
*.pc
*.swp
*.trs
*~
/.tarball-git-version
/AUTOGEN_generated_stuff
/desktop/Singular-manual.desktop
/desktop/Singular.desktop
/doc/NTL
/doc/uname.texi
/doc/version.texi
/factory/factory.h
/factory/factoryconf.h
/factory/ftest/GNUmakefile
/factory/gengftables
/factory/GNUmakefile
/factory/readcf.cc
/factory/ylwrap
/IntegerProgramming/change_cost
/IntegerProgramming/gen_test
/IntegerProgramming/LLL
/IntegerProgramming/solve_IP
/IntegerProgramming/toric_ideal
/ix86-Linux/*
/ix86-Win/*
/ix86Mac-darwin/*
/libpolys/libpolys-config
/libpolys/libpolysconfig.h
/libpolys/libpolysconfig.h.in
/libpolys/polys/m4/
/libpolys/polys/templates/p_Procs_Generate
/libpolys/polys/templates/p_Procs.inc
/libpolys/tests/gftables
/libpolys/tests/p_Procs_*.so
/libsingular-config
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/modules/include/config.h
/MP/*
/ntl/*
/omalloc/Makefile.in
/omalloc/omalloc.h
/omalloc/omConfig.h
/omalloc/omConfig.h.in
/omalloc/omExternalConfig.h
/omalloc/omTables
/omalloc/omTables.dSYM/*
/omalloc/omTables.h
/omalloc/omTables.inc
/redhat/singular.spec
/resources/resourcesconfig.h
/resources/resourcesconfig.h.in
/Singular/all.lib
/Singular/ESingular
/Singular/feOptGen
/Singular/gftables
/Singular/mpsr_Tok.xx
/Singular/ndbm.dl_og
/Singular/sing_dbm.dl_og
/Singular/Singular
/Singular/Singular.rc
/Singular/TSingular
/x86_64-Linux/*
aclocal.m4
ar-lib
autom4te.cache/
compile
confdefs.h
config.cache
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
COPYING
depcomp
depend
GNUMakefile
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
MOD
singular.png
singularconfig.h
singularconfig.h.in
stamp-h*
tags
test
test-driver
test-suite.log
test.log
ylwrap
/resources/singular_resourcesconfig.h
