*.d
*.dd
*.[oa]
*.o_ndebug
*.og
*.exe
*.swp
*.lo
*.la
*.gcno
*.gcda
*.pc
*~
.libs
/AUTOGEN_generated_stuff
MOD
/libsingular-config
/factory/readcf.cc
/factory/ylwrap
/factory/gengftables
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/Singular/Singular
/Singular/mpsr_Tok.xx
/Singular/ndbm.dl_og
/Singular/sing_dbm.dl_og
/Singular/svnver
/dyn_modules/modgen/modgen
/dyn_modules/modgen/pathnames.h
ar-lib
config.h
configure
config.h.in*
config.sub
config.log
config.guess
config.status
/ntl/*
.dirstamp
/libpolys/misc/auxiliary.h
/libpolys/polys/templates/p_Procs_Generate
/libpolys/polys/templates/p_Procs.inc
/libpolys/polys/m4/
/libpolys/libpolys-config
depend
tags
ltmain.sh
libtool
INSTALL
COPYING
Makefile
Makefile.in
install-sh
!configure.ac
GNUMakefile
confdefs.h
tags
stamp-h
/ix86-Linux/*
/ix86-Win/*
/x86_64-Linux/*
/ix86Mac-darwin/*
/omalloc/stamp-h3
/omalloc/Makefile.in
/omalloc/omTables
/omalloc/omTables.h
/omalloc/omTables.inc
/omalloc/omalloc.h
/omalloc/omTables.dSYM/*
/MP/*
/Singular/confdefs.h
/Singular/Singular.rc
config.cache
/doc/uname.texi
/doc/version.texi
/factory/GNUmakefile
config.h
/factory/ftest/GNUmakefile
/modules/include/config.h
/ntl/*
/omalloc/omConfig.h
/omalloc/omExternalConfig.h
/omalloc/omlimits.h
/omalloc/omConfig.h.in
/doc/NTL
/factory/factory.h
/factory/factoryconf.h
/libpolys/tests/gftables
/libpolys/tests/p_Procs_*.so
aclocal.m4
autom4te.cache/
.deps
ylwrap
compile
depcomp
missing
stamp-h1
stamp-h2
test-driver
singular.png
*.trs
/.tarball-git-version
.DS_Store
singularconfig.h
singularconfig.h.in
/libpolys/libpolysconfig.h.in
/libpolys/libpolysconfig.h
/resources/resourcesconfig.h
/resources/resourcesconfig.h.in
/IntegerProgramming/LLL
/IntegerProgramming/change_cost
/IntegerProgramming/gen_test
/IntegerProgramming/solve_IP
/IntegerProgramming/toric_ideal
/Singular/ESingular
/Singular/Singular
/Singular/TSingular
/Singular/all.lib
/Singular/feOptGen
/Singular/gftables
/Singular/test
/desktop/Singular-manual.desktop
/desktop/Singular.desktop
/factory/test
/kernel/test
/libpolys/coeffs/test
/redhat/singular.spec
