LIB
*.d
*.dd
*.[oa]
*.o_ndebug
*.og
*.exe
*.swp
*.lo
*.la
.libs
doc/
factory/readcf.cc
factory/ylwrap
factory/gengftables
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Singular/Singularg
Singular/mpsr_Tok.xx
Singular/ndbm.dl_og
Singular/sing_dbm.dl_og
Singular/svnver
dyn_modules/modgen/modgen
dyn_modules/modgen/pathnames.h
emacs/cmd-cmpl.el
emacs/lib-cmpl.el
emacs/lib-temp
configure
config.h.in*
config.sub
config.log
config.guess
config.h
config.status
ntl/*
libpolys/misc/auxiliary.h
libpolys/polys/templates/p_Procs_Generate
libpolys/polys/templates/p_Procs.inc
libpolys/polys/m4/
libpolys/coeffs/test
libpolys/coeffs/test-g
libpolys/polys/templates/.dirstamp
libpolys/libpolys-config
depend
tags
ltmain.sh
libtool
INSTALL
COPYING
Makefile
Makefile.in
install-sh
!configure.ac
GNUMakefile
confdefs.h
tags
stamp-h
ix86-Linux/*
ix86-Win/*
x86_64-Linux/*
ix86Mac-darwin/*
omalloc/stamp-h3
omalloc/Makefile.in
omalloc/omTables
omalloc/omTables.h
omalloc/omTables.inc
omalloc/omalloc.h
omalloc/omTables.dSYM/*
MP/MP/MP_Config.h
MP/MP/h/values.h
Singular/mod2.h
Singular/confdefs.h
Singular/Singular.rc
config.cache
doc/uname.texi
doc/version.texi
factory/GNUmakefile
config.h
factory/ftest/GNUmakefile
kernel/mod2.h
libfac/factor/version.h
modules/include/config.h
ntl/include/NTL/config.h
ntl/src/cfileout
ntl/src/makefile
ntl/src/mfileout
omalloc/omConfig.h
omalloc/omExternalConfig.h
omalloc/omlimits.h
doc/NTL
factory/factory.h
factory/factoryconf.h
ntl/include/NTL/gmp_aux.h
ntl/include/NTL/mach_desc.h
ntl/setup1
ntl/setup3
ntl/setup4
ntl/src/MakeDesc
ntl/src/gen_gmp_aux
ntl/src/gen_lip_gmp_aux
libpolys/tests/gftables
libpolys/tests/p_Procs_*.so
aclocal.m4
autom4te.cache/
.deps
compile
depcomp
missing
stamp-h1
stamp-h2
