/* emacs edit mode for this file is -*- C -*- */
/* $Id: factoryconf.template,v 1.3 1997-06-23 10:45:20 schmidt Exp $ */

#ifndef INCL_FACTORYCONF_H
#define INCL_FACTORYCONF_H

/* {{{ docu
 *
 * factoryconf.template - template to generate factoryconf.h which
 *   serves as a configuration file for the installed source files
 *   (templates/factory.h).
 *
 */
/* }}} */

/*MAKEHEADER*/
#include "config.h"

/*MAKEHEADER*/
#include "assert.h"

#endif /* ! INCL_FACTORYCONF_H */
