Source: singular
Maintainer: Mathias Schulze <mschulze@mathematik.uni-kl.de>
Section: math
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: singular
Architecture: any
Depends: singular-bin, singular-common
Description: computer algebra system for polynomial computations (meta package)
 Singular is a computer algebra system for polynomial computations with
 emphasis on the special needs of commutative algebra, algebraic geometry,
 and singularity theory.
 .
 This meta package provides a complete installation for users.

Package: singular-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer algebra system for polynomial computations (binary files)
 Singular is a computer algebra system for polynomial computations with
 emphasis on the special needs of commutative algebra, algebraic geometry,
 and singularity theory.
 .
 This package contains binary files.

Package: singular-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer algebra system for polynomial computations (common files)
 Singular is a computer algebra system for polynomial computations with
 emphasis on the special needs of commutative algebra, algebraic geometry,
 and singularity theory.
 .
 This package contains architecture-independent files.

Package: singular-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: computer algebra system for polynomial computations (development)
 Singular is a computer algebra system for polynomial computations with
 emphasis on the special needs of commutative algebra, algebraic geometry,
 and singularity theory.
 .
 This package contains development files.

