#!/usr/bin/make -f

CPPFLAGS = $(shell dpkg-buildflags --get CPPFLAGS)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-gfanlib

override_dh_auto_install:
	dh_auto_install
	install debian/icons/Singular.desktop debian/singular/usr/share/applications
	install debian/icons/Singular-manual.desktop debian/singular/usr/share/applications
	install debian/icons/Singular.png debian/singular/usr/share/icons

