#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-gfanlib

override_dh_auto_install:
	dh_auto_install
	install desktop/Singular.desktop debian/singular-common/usr/share/applications
	install desktop/Singular-manual.desktop debian/singular-common/usr/share/applications
	install desktop/Singular.png debian/singular-common/usr/share/icons

