
NTL_STD_CXX=off
NTL_PSTD_NNS=off
NTL_PSTD_NHF=off
NTL_PSTD_NTN=off
NTL_GMP_LIP=off
NTL_GMP_HACK=off
NTL_CXX_ONLY=off
NTL_X86_FIX=off
NTL_NO_X86_FIX=off
NTL_AVOID_FLOAT=off
NTL_LONG_LONG=off
NTL_AVOID_BRANCHING=off
NTL_FFT_PIPELINE=off
NTL_TBL_REM=off
NTL_NO_INIT_TRANS=off
NTL_CLEAN_INT=off
NTL_CLEAN_PTR=off
NTL_RANGE_CHECK=off

NTL_LONG_LONG_TYPE=_unset_



all:
	sh Check1 '$(NTL_STD_CXX)' 'NTL_STD_CXX'
	sh Check1 '$(NTL_PSTD_NNS)' 'NTL_PSTD_NNS'
	sh Check1 '$(NTL_PSTD_NHF)' 'NTL_PSTD_NHF'
	sh Check1 '$(NTL_PSTD_NTN)' 'NTL_PSTD_NTN'
	sh Check1 '$(NTL_GMP_LIP)' 'NTL_GMP_LIP'
	sh Check1 '$(NTL_GMP_HACK)' 'NTL_GMP_HACK'
	sh Check1 '$(NTL_CXX_ONLY)' 'NTL_CXX_ONLY'
	sh Check1 '$(NTL_AVOID_FLOAT)' 'NTL_AVOID_FLOAT'
	sh Check1 '$(NTL_LONG_LONG)' 'NTL_LONG_LONG'
	sh Check1 '$(NTL_AVOID_BRANCHING)' 'NTL_AVOID_BRANCHING'
	sh Check1 '$(NTL_FFT_PIPELINE)' 'NTL_FFT_PIPELINE'
	sh Check1 '$(NTL_TBL_REM)' 'NTL_TBL_REM'
	sh Check1 '$(NTL_NO_INIT_TRANS)' 'NTL_NO_INIT_TRANS'
	sh Check1 '$(NTL_CLEAN_INT)' 'NTL_CLEAN_INT'
	sh Check1 '$(NTL_CLEAN_PTR)' 'NTL_CLEAN_PTR'
	sh Check1 '$(NTL_RANGE_CHECK)' 'NTL_RANGE_CHECK'
	sh Check2 '$(NTL_X86_FIX)' 'NTL_X86_FIX' '$(NTL_NO_X86_FIX)' 'NTL_NO_X86_FIX'
	sh Check2 '$(NTL_GMP_HACK)' 'NTL_GMP_HACK' '$(NTL_GMP_LIP)' 'NTL_GMP_LIP'
	sh Check2 '$(NTL_AVOID_FLOAT)' 'NTL_AVOID_FLOAT' '$(NTL_LONG_LONG)' 'NTL_LONG_LONG'
	sh Select '$(NTL_STD_CXX)' 's/<NTL_STD_CXX>/1/' 's/<NTL_STD_CXX>/0/'
	sh Select '$(NTL_PSTD_NNS)' 's/<NTL_PSTD_NNS>/1/' 's/<NTL_PSTD_NNS>/0/'
	sh Select '$(NTL_PSTD_NHF)' 's/<NTL_PSTD_NHF>/1/' 's/<NTL_PSTD_NHF>/0/'
	sh Select '$(NTL_PSTD_NTN)' 's/<NTL_PSTD_NTN>/1/' 's/<NTL_PSTD_NTN>/0/'
	sh Select '$(NTL_GMP_LIP)' 's/<NTL_GMP_LIP>/1/' 's/<NTL_GMP_LIP>/0/'
	sh Select '$(NTL_GMP_HACK)' 's/<NTL_GMP_HACK>/1/' 's/<NTL_GMP_HACK>/0/'
	sh Select '$(NTL_CXX_ONLY)' 's/<NTL_CXX_ONLY>/1/' 's/<NTL_CXX_ONLY>/0/'
	sh Select '$(NTL_X86_FIX)' 's/<NTL_X86_FIX>/1/' 's/<NTL_X86_FIX>/0/'
	sh Select '$(NTL_NO_X86_FIX)' 's/<NTL_NO_X86_FIX>/1/' 's/<NTL_NO_X86_FIX>/0/'
	sh Select '$(NTL_AVOID_FLOAT)' 's/<NTL_AVOID_FLOAT>/1/' 's/<NTL_AVOID_FLOAT>/0/'
	sh Select '$(NTL_LONG_LONG)' 's/<NTL_LONG_LONG>/1/' 's/<NTL_LONG_LONG>/0/'
	sh Select '$(NTL_AVOID_BRANCHING)' 's/<NTL_AVOID_BRANCHING>/1/' 's/<NTL_AVOID_BRANCHING>/0/'
	sh Select '$(NTL_FFT_PIPELINE)' 's/<NTL_FFT_PIPELINE>/1/' 's/<NTL_FFT_PIPELINE>/0/'
	sh Select '$(NTL_TBL_REM)' 's/<NTL_TBL_REM>/1/' 's/<NTL_TBL_REM>/0/'
	sh Select '$(NTL_NO_INIT_TRANS)' 's/<NTL_NO_INIT_TRANS>/1/' 's/<NTL_NO_INIT_TRANS>/0/'
	sh Select '$(NTL_CLEAN_INT)' 's/<NTL_CLEAN_INT>/1/' 's/<NTL_CLEAN_INT>/0/'
	sh Select '$(NTL_CLEAN_PTR)' 's/<NTL_CLEAN_PTR>/1/' 's/<NTL_CLEAN_PTR>/0/'
	sh Select '$(NTL_RANGE_CHECK)' 's/<NTL_RANGE_CHECK>/1/' 's/<NTL_RANGE_CHECK>/0/'
	sh Select1 '$(NTL_LONG_LONG_TYPE)' '_unset_'  's/<NTL_LONG_LONG_TYPE>/0/' 's/<NTL_LONG_LONG_TYPE>/1/'
	sh Select1 '$(NTL_LONG_LONG_TYPE)' '_unset_'  's/<VAL_NTL_LONG_LONG_TYPE>/long long/' 's/<VAL_NTL_LONG_LONG_TYPE>/$(NTL_LONG_LONG_TYPE)/'
	echo 's/WIZARD_HACK//'
